.git
.github
.idea
.vscode
bin
config
data
state
reports
profiles
chrome-profile
takeout
coverage.out
*.log
*.zip
*.tar
*.tar.gz
*.tgz
*.sqlite*
*.db
*.jpg
*.jpeg
*.png
*.gif
*.heic
*.avif
*.webp
*.tif
*.tiff
*.dng
*.raw
*.mp4
*.mov
*.mkv
*.avi
